.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: var(--timberwolf);
  color: var(--burnt-umber);
  border: 1px solid var(--burnt-umber);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  max-width: 100%;
  border-radius: 5px;
  transition: transform 0.3s;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.movie-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--cordovan);
}

.movie-card p {
  color: var(--cinereous);
}

.movie-card button {
  background: var(--burnt-umber);
  color: var(--timberwolf);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s, transform 0.3s;
}

.movie-card button:hover {
  background: var(--cordovan);
  transform: translateY(-3px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s;
}

.popup-inner {
  background: var(--timberwolf);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.popup-inner input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid var(--cordovan);
  border-radius: 5px;
}

.popup-inner button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: var(--cordovan);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.popup-inner button:hover {
  background: var(--burnt-umber);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
